/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*
	# Font families
		- font-family: 'Righteous', cursive; // strong - title - nav
		- font-family: 'Montserrat', sans-serif; // light - text

	# Color palette
		- Dark blue #293462
		- Mid blue #216583
		- Light red #f76262
		- Light beize #fff1c1
*/

*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	overflow-x: hidden;
}

.App {
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	overflow-x: hidden;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #216583;
}

main {
	overflow-x: hidden;
}

/*	SCROLLBAR - START	*/
::-webkit-scrollbar {
	width: 1.5vw;
	max-width: 20px;
	min-width: 10px;
}
::-webkit-scrollbar-track {
	background-color: #293462;
}
::-webkit-scrollbar-thumb {
	background-color: #000000;
}
/*	SCROLLBAR - END	*/


/* SECTION - START	*/
.section-container {
	padding-top: 14vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.section-container .section-title {
	width: 90vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-bottom: 14vh;
	-ms-flex-item-align: center;
	    align-self: center;
}
.section-container .section-title hr {
	width: 100%;
	height: 4.5px;
	background-color: #293462;
	border: none;
}
.section-container .section-title p {
	font-family: sans-serif;
	font-weight: 900;
	font-size: 42px;
	letter-spacing: 2px;
	text-align: center;
	margin: 0px 20px;
	color: #293462;
}
/* SECTION - END	*/