
/*
	# Font families
		- font-family: 'Righteous', cursive; // strong - title - nav
		- font-family: 'Montserrat', sans-serif; // light - text

	# Color palette
		- Dark blue #293462
		- Mid blue #216583
		- Light red #f76262
		- Light beize #fff1c1
*/

*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.App {
	overflow-x: hidden;
	/* background-image: url("https://t4.ftcdn.net/jpg/01/03/27/57/360_F_103275771_JTT2XnSCvcUF6SbU6WhPTqFPMOGaS6cc.jpg"); */
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.App > .bg {
	top: 0px;
	left: 0px;
	position: fixed;
	z-index: 0;
	height: 100%;
	width: 100vw;
	background-color: #ff0000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23BC00FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ff001d'/%3E%3Cstop offset='1' stop-color='%23a300f3'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ff003b'/%3E%3Cstop offset='1' stop-color='%238b00e6'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0058'/%3E%3Cstop offset='1' stop-color='%237500da'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0075'/%3E%3Cstop offset='1' stop-color='%236000ce'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0092'/%3E%3Cstop offset='1' stop-color='%234e00c1'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00b0'/%3E%3Cstop offset='1' stop-color='%233d00b5'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00cd'/%3E%3Cstop offset='1' stop-color='%232d00a8'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00ea'/%3E%3Cstop offset='1' stop-color='%231f009c'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23f700ff'/%3E%3Cstop offset='1' stop-color='%23130090'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23d900ff'/%3E%3Cstop offset='1' stop-color='%23090083'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23BC00FF'/%3E%3Cstop offset='1' stop-color='%23007'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	/* gradient background generated by SVGBackgrounds.com */
}

/*	SCROLLBAR - START	*/
::-webkit-scrollbar {
	width: 1.5vw;
	max-width: 20px;
	min-width: 20px;
}
::-webkit-scrollbar-track {
	background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
	background-color: #000000;
}
/*	SCROLLBAR - END	*/


/* SECTION - START	*/
.section-container {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	filter: drop-shadow(10px 10px 0px #000000);
}
.section-container .section-title {
	max-width: 1200px;
	width: 85vw;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-bottom: 70px;
	align-self: center;
}
.section-container .section-title hr {
	width: 100%;
	height: 10px;
	background-color: #000000;
	border: none;
}
.section-container .section-title p {
	font-family: 'Righteous', cursive;
	letter-spacing: 3px;
	font-weight: 900;
	font-size: 65px;
	letter-spacing: 2px;
	text-align: center;
	margin: 0px 20px;
	color: #000000;
}
@media screen and (max-width: 768px) {
	.section-container {
		width: 100vw;
	}
	/* .section-container .section-title {
		width: 90vw;
	} */
	.section-container .section-title p {
		font-size: 3em;
	}
}
/* SECTION - END	*/