/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*	FOOTER - START	*/
.Footer {
	pointer-events: none;
	height: 60px;
	width: 100vw;
	background-color: #293462;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.Footer p {
	font-size: 14px;
	color: #fff1c1;
	text-align: center;
}
.Footer a {
	text-decoration: none;
	color: #fff1c1;
	font-weight: 600;
}
/*	FOOTER - END	*/