
.Showcase {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Showcase .images {
    display: grid;
    padding: 5px;
    background-color: #000000;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.Showcase .images img {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    max-height: 90vh;
    max-width: 90vw;
    object-fit: contain;
}

.Showcase .images button {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 45px;
    height: 45px;
    z-index: 120;
    justify-self: end;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    border: 2px solid #000000;
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    transform: translate(15px, -15px);
}

.Showcase .buttons {
    width: 130px;
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
}

.Showcase .buttons button {
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    color: #000000;
    font-size: 35px;
    font-weight: 900;
    border: 2px solid #000000;
}