
/*	SKILLS SECTION - START	*/
.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about {
	width: 90%;
	max-width: 800px;
	background-color: #ffffff;
	color: #000000;
	padding: 15px 30px;
	margin-bottom: 30px;
	background:
		linear-gradient(to right, #000000 4px, transparent 4px) 0 100%,
		linear-gradient(to left, #000000 4px, transparent 4px) 100% 0,
		linear-gradient(to bottom, #000000 4px, transparent 4px) 100% 0,
		linear-gradient(to top, #000000 4px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
.about-title {
	margin-bottom: 10px;
	font-size: 26px;
	font-weight: 600;
}
.about p {
	margin-bottom: 10px;
}
.categories {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}
.categories hr {
	width: 2px;
	height: 100%;
	border: none;
	background-color: #293462;
}
.category {
	width: 20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	margin: 0px 30px;
	text-align: center;
}
.category i {
	color: #000000;
	font-size: 5em;
}
.category .title {
	font-family: 'Righteous', cursive;
	color: #000000;
	font-size: 32px;
	margin-bottom: 20px;
	text-align: center;
	min-width: 155px;
}
.category fieldset {
	width: 170px;
	align-self: center;
	border: none;
	margin-bottom: 15px;
	background-color: #ffffff;
}
.category legend {
	width: 100%;
	padding: 5px;
	margin: auto;
	background-color: #000000;
	font-size: 18px;
	padding: 5px 15px;
	color: #ffffff;
	text-align: center;
}
.category ul {
	margin: 7px;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.category li {
	font-size: 15px;
	color: #000000;
	width: 140px;
	margin-bottom: 5px;
}
.category p {
	text-align: center;
}
@media screen and (max-width: 900px) {
	.categories {
		flex-direction: column;
	}
	.categories hr {
		display: none;
		position: absolute;
	}
	.category {
		width: 100%;
		margin: 0px;
		justify-content: center;
	}
	.about {
		width: 95%;
		max-width: 500px;
	}
}
@media screen and (max-width: 1100px) {
	.about {
		width: 95%;
		max-width: 500px;
	}
}
/*	SKILLS SECTION - END	*/