/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*	SKILLS SECTION - START	*/
.skills {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about {
	width: 80%;
	max-width: 800px;
	background-color: #293462;
	color: #fff1c1;
	padding: 15px;
	margin-bottom: 30px;
	border-radius: 20px;
}
.about-title {
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 600;
}
.about p {
	margin-bottom: 10px;
}
.categories {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-line-pack: center;
	    align-content: center;
}
.categories hr {
	width: 2px;
	height: 100%;
	border: none;
	background-color: #293462;
}
.category {
	width: 20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-line-pack: center;
	    align-content: center;
	margin: 0px 30px;
	text-align: center;
}
.category i {
	color: #fff1c1;
	font-size: 5em;
}
.category .title {
	font-family: 'Righteous', cursive;
	color: #fff1c1;
	font-size: 32px;
	margin-bottom: 20px;
	text-align: center;
	min-width: 155px;
}
.category fieldset {
	width: 170px;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	border: none;
	border-radius: 20px;
	margin-bottom: 15px;
	background-color: #fff1c1;
}
.category legend {
	width: 100%;
	padding: 5px;
	margin: auto;
	background-color: #293462;
	border-radius: 15px;
	font-size: 18px;
	padding: 5px 15px;
	color: #fff1c1;
	text-align: center;
}
.category ul {
	margin: 7px;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.category li {
	font-size: 15px;
	color: #000000;
	width: 140px;
	margin-bottom: 5px;
}
.category p {
	text-align: center;
}
@media screen and (max-width: 768px) {
	.categories {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.categories hr {
		display: none;
		position: absolute;
	}
	.category {
		width: 100%;
		margin: 0px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
/*	SKILLS SECTION - END	*/