/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*	WORK - START	*/
.projects {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	row-gap: 20px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	-ms-flex-line-pack: start;
	    align-content: start;
	justify-items: center;
}
@media screen and (max-width: 1300px) {
	.projects {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
	}
} 
.project {
	width: 70%;
	max-width: 500px;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border-radius: 10px;
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	-o-transition: transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
}
.project img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
	width: 100%;
	height: auto;
}
.project .collapse-btn {
	background-color: transparent;
	cursor: pointer;
	border: none;
	color: #fff1c1;
	outline: none;
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	padding: 5px;
	background-color: #293462;
}
.project .collapse-btn .title {
	background-color: transparent;
	padding: 0px;
	letter-spacing: 2px;
	font-size: 19px;
	margin: auto;
	text-align: center;
	pointer-events: none;
}
.project .collapse-btn .arrow {
	position: absolute;
	pointer-events: none;
}
.collapse-btn-active .arrow {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.arrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 2em;
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

.project .collapse {
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: max-height 0.3s ease-out;
	-o-transition: max-height 0.3s ease-out;
	transition: max-height 0.3s ease-out;
	color: #000000;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid #fff1c1;
	background-color: #293462;
}
.collapse .button {
	background-color: transparent;
	color: #fff1c1;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 4px 0px;
}
.collapse .button p {
	margin-left: 4px;
	font-weight: 600;
}
.collapse .description {
	font-size: 15px;
	color: #fff1c1;
	background-color: #293462;
	letter-spacing: 1px;
	padding: 5px 0px;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1/3;
	width: 95%;
	-ms-grid-column-align: center;
	    justify-self: center;
}
.collapse .title {
	font-size: 16px;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1/3;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 5px;
}
.collapse .technologies {
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1/3;
	background-color:transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.collapse .technologies > p {
	font-weight: 600;
	color: #fff1c1;
	width: 100%;
	margin: 4px 0px 0px 4px;
}
.collapse .technologies > .tag {
	padding: 4px;
	margin: 5px;
	background-color: transparent;
	color: #fff1c1;
	border: 1px solid #fff1c1;
}

/*	WORK - END	*/