/*	WORK - START	*/
.projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 20px;
	align-items: start;
	align-content: start;
	justify-items: center;
}
@media screen and (max-width: 1300px) {
	.projects {
		grid-template-columns: 100%;
	}
} 
.project {
	width: 70%;
	max-width: 500px;
	height: auto;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	transition: transform 0.4s;
}
.project img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
	width: 100%;
	height: auto;
}
.project .collapse-btn {
	background-color: transparent;
	cursor: pointer;
	border: none;
	color: #fff1c1;
	outline: none;
	transition: 0.3s ease-out;
	padding: 5px;
	background-color: #293462;
}
.project .collapse-btn .title {
	background-color: transparent;
	padding: 0px;
	letter-spacing: 2px;
	font-size: 19px;
	margin: auto;
	text-align: center;
	pointer-events: none;
}
.project .collapse-btn .arrow {
	position: absolute;
	pointer-events: none;
}
.collapse-btn-active .arrow {
	transform: rotate(180deg);
}
.arrow {
	display: flex;
	font-size: 2em;
	transition: 0.3s ease-out;
}

.project .collapse {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	color: #000000;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid #fff1c1;
	background-color: #293462;
}
.collapse .button {
	background-color: transparent;
	color: #fff1c1;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 0px;
}
.collapse .button p {
	margin-left: 4px;
	font-weight: 600;
}
.collapse .description {
	font-size: 15px;
	color: #fff1c1;
	background-color: #293462;
	letter-spacing: 1px;
	padding: 5px 0px;
	grid-column: 1/3;
	width: 95%;
	justify-self: center;
}
.collapse .title {
	font-size: 16px;
	grid-column: 1/3;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 5px;
}
.collapse .technologies {
	grid-column: 1/3;
	background-color:transparent;
	display: flex;
	flex-wrap: wrap;
}
.collapse .technologies > p {
	font-weight: 600;
	color: #fff1c1;
	width: 100%;
	margin: 4px 0px 0px 4px;
}
.collapse .technologies > .tag {
	padding: 4px;
	margin: 5px;
	background-color: transparent;
	color: #fff1c1;
	border: 1px solid #fff1c1;
}

/*	WORK - END	*/